@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<div class="alert alert-success" style="color: black;background: #f98bf775;border-color:#da49c6ed;">
    Your password has been changed successfully!!
</div>