@{
    ViewBag.Title = "Our History";
}
<h2>@ViewBag.Title</h2>
<div style="float:left;margin-right:20%;"><img src="@String.Format("{0}{1}.png",Url.Content("~/Photo/Company/"),2)" height="300px" width="auto" alt="2" /><br />
    <span style="font-size:larger;font:bold;color:hotpink">MICHAEL LWIN, ESQ.</span><br />
    <span style="font-size:larger;color:lightpink">Co-Founder and Managing Director</span>
</div>
<div>
    <img src="@String.Format("{0}{1}.png",Url.Content("~/Photo/Company/"), 1)" height="300px" width="auto" alt="1" /><br />
    <span style="font-size:larger;font:bold;color:hotpink">DR.YARZAR MINN HTOO</span><br />
    <span style="font-size:larger;color:lightpink">Co-Founder and Chief Technical Officer</span>
</div>
<p style="margin-top:1%;font:bold">
The two first met in Myanmar in 2009, and realized they were kindred spirits -- wanting to help others, especially people in Myanmar. But the political and economic climate was not ripe for action yet, so Mike and Yar Zar spent their free time trading ideas. Mike's interest in Myanmar was particularly piqued when the 2010 elections occurred in Myanmar, and he visited Myanmar frequently thereafter, where he schemed with Yar Zar some more.
Myanmar still has tremendous issues that will take many years and the efforts of many people working together, but in recent years the country has slowly started to open up. In light of these slow changes, in July 2012 Mike got on a plane to Yangon, and Yar Zar and Mike have spent the entire 2012 year setting their schemes into action. In this new age, the two wondered how the ordinary people of Myanmar would fare. They decided to do their best to help out. Yar Zar and Mike set up shop in the diverse neighborhood of Mingala Taung Nyunt and formed the company Koe Koe.
Nerly 100% of Koe Koe's employees (except for Mike!) are citizens of Myanmar from modest socioeconomic backgrounds. Koe Koe's workforce includes Buddhists, Muslims, Christians, Burmese, ethnic minorities, and a mix of all of the above -- truly representative of Myanmar's diversity. We are an equal opportunity employer. Training is provided onsite for employees.
</p>
